[defaults]
inventory = /etc/ansible/hosts
remote_user = ansible
host_key_checking = False
retry_files_enabled = False
roles_path = .roles
collections_path = ./collections

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
#ssh_args = -o ProxyCommand="ncat --proxy-type socks5 --proxy proxy.example.com:1080 --proxy-auth username:password %h %p" -o StrictHostKeyChecking=no
#pipelining = True


